.App {
  text-align: center;
}

header{
  position: fixed;
  width: 100%;
}

#homeHeader{
  display: grid;
  grid-template-areas: "leftSide rightSide";
  width: 100%;
  height: 100%;
  background-color: darkkhaki;
  padding: 1em;
}


#leftSide{
  grid-area: "leftSide";
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#rightSide{
  grid-area: "rightSide";
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#rightSide span{
  padding: 1em;
  margin: 0 .5em;
  background-color: white;
}

.login{
  padding: .5em;
  margin: 0 1em;
  font-weight: bold;
}

#homeContent{
  display: grid;
  grid-template-areas: "homeLeftSide homeRightSide";
  width: 100%;
  height: 900px;
}

#homeLeftSide{
  grid-area: "homeLeftSide";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: grey;
}

#homeRightSide{
  grid-area: "homeRightSide";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightgreen;
}