.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

header{
  position: fixed;
  width: 100%;
  box-shadow: 1px 2px 3px grey;
}

#homeHeader{
  display: grid;
  grid-template-areas: "leftSide rightSide";
  width: 100%;
  height: 100%;
  background-color: darkkhaki;
  padding: 1em;
}


#leftSide{
  grid-area: "leftSide";
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#rightSide{
  grid-area: "rightSide";
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#rightSide span{
  padding: 1em;
  margin: 0 .5em;
  background-color: white;
}

.login{
  padding: .5em;
  margin: 0 1em;
  font-weight: bold;
}

#homeContent{
  display: grid;
  grid-template-areas: "homeLeftSide homeRightSide";
  width: 100%;
  height: 900px;
}

#homeLeftSide{
  grid-area: "homeLeftSide";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: url("https://images.unsplash.com/photo-1482627750753-afdba16659ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-position: center;
  width: 100%;
}

#homeRightSide{
  grid-area: "homeRightSide";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: url("https://images.unsplash.com/photo-1514213949578-58fe7b8ff146?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2704&q=80");
  background-position: center;
  width: 100%;
}

#homeRightSide p{
  margin: 5em;
  color: black;
  font-size: 1.5em;
}

#homeLeftSide p{
  margin: 5em;
  color: white;
  font-size: 1.5em;
}

.login{
  height: 5em;
  width: 10em;
  background-color: darkkhaki;
  font-size: 1em;
  border: none;
  border-radius: .5em;
  box-shadow: 1px 2px 3px grey;
  cursor: pointer;
}

.login:hover{
  height: 5.1em;
  width: 10.2;
}